@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: 'Source code pro';
	src: local('Source code pro'),
		url(/SourceCodePro-Light.ttf) format('TrueType');
	font-display: 'swap';
}
/* width */
::-webkit-scrollbar {
	width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
body {
	background-image: url('/background.jpg');
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	background-attachment: fixed;
}
#root {
	width: clamp(280px, 100vw, 1270px);
}
.hero {
	background-image: url('/hero-illustration.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}
iframe {
	width: clamp(100px, 100vw, 512px);
	aspect-ratio: 1/1.5;
}

@media only screen and (max-width: 768px) {
	.hero {
		background-position: bottom;
	}
}
