@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	font-family: Montserrat, sans-serif;
	font-weight: 200;
	@apply scroll-smooth scroll-p-20;
}
/* width */
::-webkit-scrollbar {
	width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
span > span {
	@apply font-bold drop-shadow-[0px_0px_20px_rgba(125,18,255,1)];
}

.content {
	@apply flex flex-col items-start text-left px-12;
}
.content > * {
	@apply my-9 md:text-3xl text-xl;
}
.content > h1 {
	@apply md:text-6xl text-4xl font-bold after:content-[''] after:block after:w-auto after:h-1 after:bg-red-600 after:mt-4;
}
.content > p > a {
	@apply text-blue-400;
}
.content > h2 {
	@apply md:text-5xl text-3xl font-bold after:content-[''] after:block after:w-auto after:h-1 after:bg-red-400 after:mt-4;
}
.content > h3 {
	@apply md:text-3xl	text-2xl font-bold after:content-[''] after:block after:w-auto after:h-1 after:bg-red-200 after:mt-4;
}

.content > ol {
	@apply list-decimal list-inside;
}
.content > ol > li {
	@apply my-3;
}
