@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	font-family: Montserrat, sans-serif;
	font-weight: 200;
	@apply scroll-smooth scroll-p-20;
}
/* Scrollbar */
::-webkit-scrollbar {
	width: 2px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Home */
.home-main {
	@apply p-2 text-center flex flex-col w-full aspect-video h-[clamp(50vh,_60vh,calc(100vh-20ch))] my-7 items-center 
	md:px-12 md:text-left md:justify-center md:items-start;
}
.glow {
	@apply drop-shadow-[0px_0px_20px_rgba(125,18,255,1)];
}
.nav {
	@apply flex flex-row justify-between px-8 py-4 sticky 
	top-0 left-0 z-50 w-screen bg-main shadow-sm shadow-black;
}
.nav-item-container {
	@apply flex flex-row items-start gap-5 text-2xl h-screen
	md:h-fit absolute md:static w-screen md:w-auto top-0 left-0 z-50 translate-x-[80vw] [&.active]:translate-x-0 md:translate-x-0 transition-all;
}
.nav-item-element {
	@apply after:content-[""] after:block after:w-auto after:h-[1px] hover:after:bg-blue-600 [&.active]:after:bg-violet-700;
}
.backdrop {
	@apply bg-[rgba(0,0,0,0.9)];
}
/* Typed */
span > span {
	@apply font-bold glow;
}

.content {
	@apply flex flex-col items-start text-left px-4 md:px-12;
}
.content > * {
	@apply my-9 md:text-3xl text-xl;
}
.content > h1 {
	@apply md:text-6xl text-4xl font-bold after:content-[''] after:block after:w-auto after:h-1 after:bg-red-600 after:mt-4;
}
.content > p > a {
	@apply text-blue-400;
}
.content > h2 {
	@apply md:text-5xl text-3xl font-bold after:content-[''] after:block after:w-auto after:h-1 after:bg-red-400 after:mt-4;
}
.content > h3 {
	@apply md:text-3xl	text-2xl font-bold after:content-[''] after:block after:w-auto after:h-1 after:bg-red-200 after:mt-4;
}

.content > ol {
	@apply list-decimal list-inside;
}
.content > ol > li {
	@apply my-3;
}
